.post>.fundo>.acoes>div:first-child {
  display: inherit;
}

.post>.fundo>.acoes>div>.liked {
  color: red;
}

.hide>ion-icon {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.conteudo>ion-icon {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2);
  font-size: 200px;
}

.overlay>ion-icon {
  z-index: 1;
  animation: growing 300ms ease;
  transform: translate(-50%, -50%);
}


@keyframes growing {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}