.post>.fundo>.acoes>div:first-child {
  display: inherit;
}

.post>.fundo>.acoes>div>.liked {
  color: red;
}

.hide {
  display: none;
  z-index: -1;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
  position: absolute;
  font-size: 150px;
}

.overlay>ion-icon {
  animation: growing 0.3s ease;
}

@keyframes growing {
  0% {
    transform: scale(0.2);
  }

  100% {
    transform: scale(1);
  }
}